## MAC ##
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
nginx.conf

*.env

## Spring ##

# Archivos de compilación
backend/target/
backend/build/

# Archivos de configuración de Maven
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Archivos de configuración de Gradle
backend/.gradle/
backend/gradle-app.setting
backend/gradlew
backend/gradlew.bat

# Logs y archivos temporales
backend/*.log
backend/*.tmp
backend/tmp/
backend/out/

# Configuraciones de IDE
backend/.idea/
backend/.project
backend/.classpath
backend/.settings/
backend/.vscode/

# Ignorar archivos generados por pruebas
backend/test-output/
backend/jacoco.exec

# Archivos de empaquetado o ejecutables
backend/*.jar
backend/*.war
backend/*.ear

## FLUTTER
# Ignorar archivos y carpetas de Flutter dentro de frontend
frontend/.dart_tool/
frontend/.idea/
frontend/.vscode/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata
frontend/build/
frontend/ios/Flutter/Flutter.framework
frontend/ios/Flutter/Flutter.podspec
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/ephemeral/
frontend/ios/Runner.xcworkspace/
frontend/macos/Flutter/ephemeral/
frontend/macos/Pods/
frontend/linux/flutter/ephemeral/
frontend/windows/flutter/ephemeral/
frontend/web/.dart_tool/

# Archivos generados por pub
frontend/pubspec.lock

# Archivos de compilación para Android
frontend/android/.gradle/
frontend/android/captures/
frontend/android/.idea/
frontend/android/local.properties
frontend/android/build/

# Archivos de compilación para iOS
frontend/ios/Flutter/App.framework
frontend/ios/Flutter/Flutter.podspec
frontend/ios/build/
frontend/ios/Pods/
frontend/ios/Podfile.lock
frontend/ios/.symlinks/

# Archivos de compilación para web
frontend/web/build/

# Archivos de configuración para VS Code
frontend/.vscode/

# Archivos de configuración para Xcode
frontend/ios/Runner.xcworkspace/
frontend/macos/Runner.xcworkspace/

# Otros posibles archivos temporales
*.iml
*.ipr
*.iws
*.log
*.tmp
*.swp
